
.ag-theme-alpine {
  --ag-borders: solid 1px;
  --ag-border-color: rgba(148, 163, 184, 1);
  --ag-header-background-color: rgba(var(--fuse-primary-rgb), var(--tw-bg-opacity));
  --ag-header-foreground-color: rgb(255 255 255 / var(--tw-text-opacity));
  --ag-row-border-style: solid;
  --ag-row-border-width: 1px;
  --ag-row-border-color: rgba(199, 210, 254, 0.5);
  --ag-cell-horizontal-border: solid rgba(199, 210, 254, 0.5) 1px;
  --ag-row-height: 30px;
  --ag-cell-horizontal-padding: 4px;
  --ag-selected-row-background-color: rgba(var(--fuse-primary-rgb), 0.3);
  // --ag-row-hover-color: rgba(var(--fuse-primary-rgb), 0.05);
  --ag-row-hover-color: inherit;
  --ag-range-selection-border-color: var(--fuse-primary);
  --ag-font-family: "Inter var";
  --ag-alpine-active-color: var(--fuse-primary);
}


.ag-row-selected-custom.ag-row-hover {
  background: var(--ag-selected-row-background-color) !important;
}

.dark .ag-theme-alpine {
  --ag-header-background-color: #333c54;
  --ag-odd-row-background-color: #283046;
  --ag-background-color: #242b3e;
  --ag-border-color: rgb(36, 43, 55);
  --ag-data-color: #eaebed;
  --ag-row-border-width: 0;
  --ag-row-border-color: #333c54;
  --ag-modal-overlay-background-color: rgba(51, 60, 84, 0.3);
  --ag-alpine-active-color: var(--fuse-primary-600);
}

.ag-header-cell,
.ag-header-group-cell {
  padding-left: 0px;
  padding-right: 0px;
}

.ag-cell-label-container {
  margin-left: 2px;
}

.mat-mdc-dialog-content {
  .ag-overlay {
    position: relative;
    margin-top: 18px;
    margin-bottom: 18px;
  }
}

.ag-header-cell {
  border-top-color: #b2c4de !important;
  padding-top: 1px !important;
  border-bottom: none;
}

.ag-multi-filter-group-title-bar {
  font-weight: 600 !important;
}

.ag-icon.ag-icon-filter {
  color: white;
}

.table-card {
  background: #fff;
  //border-radius: 7px;
  height: 100%;
  box-shadow: 0 0 5px #22292f1a;
  border-bottom-right-radius: calc(0.428rem - 1px) !important;
  border-bottom-left-radius: calc(0.428rem - 1px) !important;
}

mat-dialog-content .table-card {
  box-shadow: none !important;
}

.ag-header-cell-label {
  margin-left: 0.5rem;
}

.table-header-text-center .ag-header-cell-label {
  margin-left: -0.5rem;
}

app-no-rows-overlay {
  position: absolute;
  height: 100%;
  top: calc(80px + 10%);

  img {
    height: 50% !important;
  }
}

.ag-header-cell-resize {
  right: -5px !important;
}

.ag-filter-toolpanel-header, .ag-filter-toolpanel-search, .ag-theme-alpine .ag-header-row, .ag-panel-title-bar-title, .ag-multi-filter-group-title-bar {
  font-weight: 600 !important;
}

.ag-row-animation .ag-row {
  transition: none;
}

.ag-row-animation .ag-row.ag-after-created {
  transition: none;
}

.ag-row-no-animation .ag-row {
  transition: none;
}

.ag-column-moving .ag-cell {
  transition: none;
}

.ag-column-moving .ag-header-cell {
  transition: none;
}

.ag-column-moving .ag-header-group-cell {
  transition: none;
}

.ag-header-cell-text {
  word-break: break-word;
}

.no-min-width {
  min-width: 0 !important;
}

.card-body {
  padding: 5px;
  align-items: center;
}
